<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
  {% load static %}
  <link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Passion+One:wght@400;700;900&display=swap"
  rel="stylesheet" />
  <link rel="stylesheet" 
        type="text/css"
        href="{% static 'home/css/style.css' %}">
</head>

<body>
  <div class="header">
    <img src="{% static 'img/logo.png' %}" style="height: 35px; margin-right: 10px;" />
    <div class="logoName">MoneyParce</div>
    <a class="aboutBtn" href="/about-us/">
      <img src="{% static 'img/info.png' %}" style="height: 17px" />
    </a>
  </div>

  <div class="mainWrapper">
    <div> 
      <div class="mainDesc">Experience the most seamless and intuitive way to manage your money.</div>
      <div class="subDesc">With intuitive budgeting tools, managing your money is simple and stress-free.
        Secure, streamlined, and designed for the way you bank today.</div>  
    </div>
    
    <div class="loginWrapper">
      <div class="loginTitle">Log in</div>
      <!-- <a href="/login/"><button>Log In</button></a> -->
      <form class="inputWrapper" method="POST" action="">
        {% csrf_token %}
        <input type="text" class="loginInput" id="username" name="username" placeholder="Enter your username" required>
        <input type="password" class="loginInput" id="password" name="password" placeholder="Enter your password" required>

        <button class="loginBtn" type="submit">Log in</button>
    </form>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <div class="signupLine">
      <div>Don't have an account yet?</div>
      <a class="signupBtn" href="{% url 'accounts.signup' %}"><div>Sign Up</div></a> 
    </div>
    
    </div>
  </div>
  

</body>
</html>
