# Default ignored files
/shelf/
/workspace.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__/
*/__pycache__/*
**/*.pyc

# PyCharm / VSCode
.idea/
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store