# Default ignored files
/shelf/
/workspace.xml
settings.py
*/settings.py
**/settings.py
MoneyParce/settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__/
*/__pycache__/*
**/*.pyc


# PyCharm / VSCode
.idea/
.vscode/