<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/registered.css' %}">
</head>
<body>
    <div class="register-wrapper">
        <div class="card">
            <div class="card-body">
                <h2>Forgot Password</h2>
                <hr />
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="Enter your username" required style="margin-bottom: 35px;">
                    <input type="number" id="budget" name="budget" placeholder="What's your budget? (Security Question)" required style="margin-bottom: 35px;">
                    <input type="password" id="password" name="password" placeholder="Enter your new password" required style="margin-bottom: 35px;">
                    <input type="password" id="password2" name="password2" placeholder="Re-enter your new password" required style="margin-bottom: 35px;">
                    <button type="submit" class="btn" style="margin-top: 10px;">Reset Password</button>
                </form>
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
