<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>MoneyParce Overview</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Passion+One:wght@400;700;900&display=swap"
      rel="stylesheet" />
  <link rel="stylesheet" 
        type="text/css" 
        href="{% static 'css/style.css' %}" />
</head>

<body>
  <div class="sideBar">
    <div class="sideBarHeader">
      <img src="{% static 'img/logo.png' %}" style="height: 70px" />
      <div id="LogoName">MoneyParce</div>
      <p>Welcome, {% if user.is_authenticated %}{{ user.username }}{% else %}User{% endif %}</p>
    </div>
    <div class="navigator">
      <a class="sideBarText" href="{% url 'dashboard' %}">
        <div class="navDiv">
          <img src="{% static 'img/overview.png' %}" style="height: 20px; margin-right: 20px;" />
          <div class="sideBarText">Overview</div>
        </div>
      </a>

      <a class="sideBarText" href="{% url 'transactions_history' %}">
        <div class="navDiv">
          <img src="{% static 'img/tran.png' %}" style="height: 20px; margin-right: 20px;" />
          <div class="sideBarText">Transactions</div>
        </div>
      </a>

      <a class="sideBarText" href="{% url 'budget_summary' %}">
        <div class="navDiv">
          <img src="{% static 'img/report.png' %}" style="height: 20px; margin-right: 20px;" />
          <div class="sideBarText">Report</div>
        </div>
      </a>

      <div class="navDiv">
        <img src="{% static 'img/settings.png' %}" style="height: 20px; margin-right: 20px;" />
        <div class="sideBarText">Settings</div>
      </div>


        </div>
    </div>

    <div class="mainWrapper">
        {% block content %} {% endblock content %}
    </div>

</body>
</html>